PORT=:8080
DB_URL=gomess:123456@tcp(127.0.0.1:3306)/gomess?parseTime=true
JWT_SECRET=gomess_jwt_secret
GOOGLE_CLIENT_ID=684231751741-cgh102lfahq1rcqomv1hubsmtuli25l8.apps.googleusercontent.com
FACEBOOK_APP_ID=1620869612814300
FACEBOOK_APP_SECRET=
REDIS_ADDR=localhost:6379
IS_PRODUCTION=false
ALLOW_CREDENTIALS=true
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=gomess
MINIO_SECRET_KEY=gomess12345
MINIO_BUCKET=gomess-attachments
MINIO_USE_SSL=false
WORKER_CLEANUP_INTERVAL_HOURS=6