PORT=
DB_URL=
DB_PASSWORD=
MYSQL_ROOT_PASSWORD=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_PUBLIC_ENDPOINT=
BACKEND_DOMAIN=
JWT_SECRET=
GOOGLE_CLIENT_ID=
REDIS_ADDR=
IS_PRODUCTION=
ALLOW_CREDENTIALS=
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=
WORKER_CLEANUP_INTERVAL_HOURS=
CLIENT_ORIGINS=