PORT=
API_PORT=
MYSQL_PORT=
REDIS_PORT=
MINIO_API_PORT=
MINIO_CONSOLE_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_URL=
MYSQL_ROOT_PASSWORD=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_PUBLIC_ENDPOINT=
JWT_SECRET=
GOOGLE_CLIENT_ID=
REDIS_ADDR=
IS_PRODUCTION=
ALLOW_CREDENTIALS=
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=
CLIENT_ORIGINS=
